@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rye&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("skull.jpg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-attachment: fixed;
}

html {
  color: #333;
  font: 20px/1 "Staatliches", sans-serif;
}

#app {
  background-color: #000;
  height: 100vh;
}

.main-content {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  height: 80vh;
  justify-content: center;
}

.main-content__description {
  font-size: 1.5rem;
}

.main-header {
  align-items: center;
  background-color: #333;
  font-family: "Rye", cursive;
  font-size: 5rem;
  color: red;
  display: flex;
  flex-direction: column-reverse;
  height: 20vh;
  justify-content: center;
}
.artist-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem;
  padding: 0.5rem;
  border: 3px solid red;
}
